:root {
    /* ******Colors sections******* */
    --first-color: #f2f5f9;
    --second-color: #ffffff;
    --third-color: #111729;
    --fourth-color: #677489;
    /* ********Font Sizes*********** */
    --font-title: 1.5rem;
    --font-body: 1rem;
    --font-smalltext: 1rem;
  }
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato";
  }
  body {
    background-color: var(--first-color);
  }
  section {
    width: 27.4%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: var(--second-color);
    border-radius: 1rem;
  }
  article {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h3 {
    font-size: var(--font-title);
    font-family: "poppins", sans-serif;
    font-weight: 600;
  }
  p,
  h4 {
    font-size: var(--font-body);
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }
  h4 {
    font-weight: 800;
  }
  h3,
  h4 {
    color: var(--third-color);
  }
  p {
    color: var(--fourth-color);
  }
  .hero {
    width: 26.1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .svg_img {
    position: relative;
    top: -60px;
  }
  .title {
    position: relative;
    top: -4rem;
  }
  article div {
    padding: 0rem 2rem;
  }
  hr {
    width: 100%;
    height: 0.1rem;
    color: rgba(var(--fourth-color), 0.3);
    position: relative;
    top: -2rem;
  }
  .avatar {
    width: 3rem;
    border-radius: 50%;
    border: 0.2rem solid var(--first-color);
  }
  .profile {
    display: flex;
    padding-bottom: 1rem;
    border-bottom-right-radius: 1rem;
  }
  @media (max-width: 1200px) {
    .hero {
      width: 100%;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
    .svg_img {
      position: relative;
      top: -57px;
      width: 100%;
    }
  }
  
